@import "../../common/styles/_fonts.scss";
@import "../../common/styles/_color.scss";
@import "../../common/styles/_mixin.scss";
#inner-form {
		min-height: 300px;
		width: 500px;
		background-color: $white;
		border: 1px solid $dark;
}
form {
	width: 300px;
}
button {
	@include button;
	background-color: $dark-blue;
	color: $white;
	width: 140px;
	font-size: .8em;
	height: 35px;
}
.disabled {
	background-color: $grey;
}