<div class="mt4">
	<div id="inner-form" class="br1 pa4">
		<Form :struct="restore"/>
		<button 
			@click="onRestore"
			:disabled="(!checkStruct(restore))"
			:class="[{disabled: !(checkStruct(restore))}]">
				Изменить
			</button>		
	</div>
</div>