@import "../../common/styles/_color.scss";
@import "../../common/styles/_fonts.scss";
@import "../../common/styles/_mixin.scss";

#outter-rooms {
	display: grid;
    grid-template-columns: 25% 75%;
    $height-of-search: 20px;
    #search-conversation {
		$font-search-size: .8em;
		border: 2px solid $grey;
		height: $height-of-search;
		max-width: 100%;
		background-color: $white;
		overflow: hidden;
		input {
			text-align: left;
			font-size: $font-search-size;
			outline: none;
			width: 100%;
			height: 100%;
			border: 0px;
			background-color: $white;
		}
	}

    #inner-rooms {
		border: 2px solid $grey;
		overflow: scroll;
		height: calc(100vh - #{$height-of-search} - 65px);  
		max-width: 100%;
		background-color: $white;
		.room {
			cursor: pointer;
			border-bottom: 1px solid $grey;
			.logo {
				max-width: 60px;
				max-height: 60px;
				overflow: hidden;
				border-radius: 50%;
				img {
					width: 100%;
				}
			}
			.title-of-room,.last-message,.unread-messages {
				@include style-user-text;
			}
			.last-message {
				overflow: hidden;
				width: 100px;
				max-height: 50px;
			}
		}
		.selected.room {
			background-color: #408fb4;
			.title-of-room,.last-message,.unread-messages {
				@include style-user-text;
				color: $white;
			}
		}
		.title-of-room {
			font-size: 1em !important;
		}
	}
	.empty {
		@include style-user-text;
	}

    #inner-chat {
		border: 2px solid $grey;
		height: calc(100vh - 55px);
		background-color: $white;
		.id-is-not-selected {
			font-size: 1em;
		}
		#chat {
			width: 100%;
			height: 100%;
			display: grid;
			grid-auto-rows: max-content 1fr max-content;
			.info {
				border-bottom: 1px solid $grey;
				.username {
					height: max-content;
					font-size: 1.2em;
					color: $dark;
					font-family: $rubik;
				}
				.back {
					font-size: 1.6em;
					color: $grey;
				}
			}
			#innerMessages {
				overflow: auto;
			}
		}
    }
	
}
@media only screen and (max-device-width: 595px) {
	#outter-rooms {
		grid-template-columns: 100%;
	}
}