<div id="outter-rooms">
	<div v-show="mobileView ? !conView : true">
		<div id="search-conversation" :class="['mt1', 'br1']">
			<input 
				type="text" 
				placeholder="@login" 
				v-model.trim="usernameComputed"
				:maxlength="maxUsername"
			/> 
		</div>
		<div class="mt1 br1" id="inner-rooms" @scroll="scrollTo($event)">
			<div :class="[
				'room', 
				'pa1',
				'dflex',
				'j-b',
				{
					'selected': room._id == selectedRoomId,
				}
				]" 
				v-for="(room, index) in rooms"
				@click="preSetRoomId(room._id)"
			>
				<div class="dflex">
					<div class="logo">
						<img src="/static/user.png">
					</div>
					<div class="ml1">
						<div class="title-of-room">
							<b>@{{room.user.username}}</b>
						</div>
						<div 
							class="last-message mt1"
							v-html="
							room.last_message ?
								(room.last_message.type !== 'image' ?
									returnHtml(room.last_message.body_message) 
									:
									'Изображение'
								) 
								:
								''
							"
						>
						</div>
					</div>
					
				</div>
				<div class="dflex ai-c unread-messages mr1">
					<p>
						<b>
							{{
								room.unread_messages ?
								 room.unread_messages 
								:
								 room.last_message && !room.last_message.read ? 
								  '&bull;'
								 :
								  '' 
							}}
						</b>
					</p>
				</div>
			</div>
			<Smiles
				ref="smiles" 
				v-show="false"
			/>
			<div v-show="!rooms.length" class="empty tc">Переписок нет</div>
		</div>
	</div>
	<div id="outter-chat" v-show="mobileView ? conView : true">
		<div id="inner-chat" class="ml1  br1 mt1 mr1 dflex ai-c j-c">
			<div class="empty tc id-is-not-selected" v-show="!selectedRoomId">Беседа не выбрана</div>
			<div 
				v-show="selectedRoomId" id="chat"
				@mousemove="emitMessagesAreRead"
			>
				<div class="info dflex ai-c">
					<!-- <img
						v-show="mobileView"
						data-v-5a27e77f=""
						id="back"
						@click="setConView(false)"
						src="/static/assets/forward.png"
					> -->
					<div
						@click="setConView(false)"
					>
						<i 
							v-show="mobileView"
							class="fas back fa-chevron-left"
						></i>	
					</div>
					
					<p class="username dblock ml1">@{{intelocutorName}}</p>
				</div>
				<Messages
					class="ml1 mr1"
					id="innerMessages"
					ref="innerMessages"
					:getMessages="messagesGetter"
					:setMessages="setMessages"
					:emitGetMessages="emitGetMessages"
					:waitingMessages="waitingMessages"
					:lengthMessages="lengthMessages"
					:imageShow="imageShow"
				/>
				<Keyboard 
					id="typingMessage"
					ref="typingMessage"
					:disabled="!connected"
					:messagesAreRead="emitMessagesAreRead"
					:imageTo="'conversation'"
					:send="emitMessage"
					:dataForSendFile="dataForSendFile"
				/>
			</div>
		</div>
	</div>
</div>