@import "../common/styles/color";
@import "../common/styles/_size.scss";
@import "../common/styles/_text.scss";
@import "../common/styles/_block.scss";
@import "../common/styles/_error.scss";
@import "../common/styles/_mixin.scss";

* {
	margin: 0;
	font-size: 1em;
}
a {
	text-decoration: none;
}
main {
	display: grid;
}
#wrapper {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 100vw;
	grid-template-rows: #{$height-of-header} calc(100vh - #{#{$height-of-header}});
}
#row-body{
	display: grid;
	grid-template-columns: 20% 80%;
	background-color: $light-blue; 
}
#mobile-nav {
	display: none;
}

@media only screen and (max-device-width: 595px) {
	@keyframes inner-nav {
		from {width: 0%;}
		to {width: 43%;}
	}
	#row-body {
		grid-template-columns: 100vw;
		.nav {
			display: none;
		}
	}
	#mobile-nav {
		display: block;
		height: calc(100vh - #{$height-of-header}) !important;
		top: #{$height-of-header} !important;
		@include wrapper;
		#outter-nav {
			 height: inherit;
			 #inner-nav {
				width: 43%;
				animation-name: inner-nav;
				animation-duration: .5s;
				background-color: $light-blue; 
				#logout {
					color: $hard-blue;
					font-family: $rubik;
				}
			 }
		}
	}
}