<div id="wrapper">
	<HeaderContent/>
	<div id="row-body">
		<Nav class="nav"/>
		<main>
			<router-view/>
		</main>
	</div>
	<Auth v-if="authView"/>
	<AlertMessages/>
	<div id="mobile-nav" v-if="navMobileView">
		<div id="outter-nav" class="dflex j-end">
			<div id="inner-nav" class="dflex j-b fcol">
				<Nav></Nav>
				<a id="logout" class="mb3 dflex j-c" href="/logout">Выйти</a>
			</div>
		</div>
	</div>
</div>