<div class="rules mt3">
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%">Пользовательское
    Соглашение и Политика Конфиденциальности<br>
    (редакция от «24» июля 2021 г.)<br>
    (Правила пользования сервисом </span><span style="font-size:14.0pt;
    line-height:115%;mso-ansi-language:EN-US" lang="EN-US">APOGOVORIM</span><span style="font-size:
    14.0pt;line-height:115%">.</span><span style="font-size:14.0pt;
    line-height:115%;mso-ansi-language:EN-US" lang="EN-US">RU</span><span style="font-size:14.0pt;
    line-height:115%">)</span></p>
    
    <p class="rules-p" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%">Пользовательское </span></b><b style="mso-bidi-font-weight:normal"><span style="font-size:14.0pt;
    line-height:115%;mso-ansi-language:EN-US" lang="EN-US">C</span></b><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%">оглашение</span></b></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">Настоящее
    Пользовательское Соглашение (далее читать «Соглашение») является обязательным
    юридическим договором между Пользователем и Администрацией Сервиса APOGOVORIM.RU
    (далее «Администрация»), куда входит сайт</span><span style="font-size:
    14.0pt;line-height:115%"> (далее — «Сервис»).</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">Прежде чем
    использовать Сервис, Пользователь в обязательном порядке должен изучить данное
    Соглашение и принять все его правила, только после этого Администрация гарантирует
    доступ к Сервису.</span></p>
    
    <p class="rules-p2" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%">Обязанности сторон</span></b></p>
    
    <p class="rules-p2" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%">1. Права и обязанности
    Пользователя</span></b></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.1.
    Пользователь обязан безоговорочно соблюдать правила данного Соглашения.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.2.
    Пользователь не имеет права разглашать свои учетные данные. Администрация не несёт
    ответственности за убытки и риски, связанные с потерей личных данных.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.3. При
    несанкционированном доступе к своей учетной записи Пользователь обязуется
    сообщить об этом Администрации, отправив письменное уведомление. В случае
    несоблюдения этого правила Пользователь сам несёт ответственность за действия,
    совершенные от его имени и под его аккаунтом.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.4.
    Пользователь обязуется не использовать Сервис для распространения агитационных
    и рекламных материалов без письменного подтверждения от Администрации.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.5. Проводить
    сделки, совершать покупки товаров или услуг, а также продуктов интеллектуальной
    собственности без согласования с Администрацией запрещается. Пользователь сам
    несёт ответственность за риски и последствия подобных действий.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.6.
    Пользователь обязуется не нарушать права третьих лиц и других пользователей и
    не распространять через Сервис спам и материалы, противоречащие действующему
    законодательству Российской Федерации и нормам морали,<b style="mso-bidi-font-weight:
    normal"> а именно:</b></span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.6.1. порнографию;</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.6.2. материалы,
    демонстрирующие и пропагандирующие сцены насилия, жестокости и терроризма;</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.6.3.
    нецензурные высказывания, оскорбления и клевету;</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.6.4.
    материалы, разжигающие ненависть к лицам нетрадиционной сексуальной ориентации;</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.6.5. угрозы
    и материал экстремистского характера;</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.6.6.
    инструкции для совершения преступных действий и мошеннические схемы;</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.6.7.
    материалы, пропагандирующие и рекламирующие наркотики;</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.6.8.
    пропаганду войны, расовое и национальное превосходство;</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.6.9. любые
    материалы, провоцирующие социальные, межрасовые, национальные, а также
    религиозные конфликты и сеющие вражду.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.7.
    Пользователю запрещается выдавать себя за другое лицо как физическое, так и
    юридическое.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.8. Пользователь
    не имеет права распространять материалы, ущемляющие честь и достоинство
    кого-либо и способные испортить репутацию или принести ущерб физическому или
    юридическому лицу. </span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.9. Только
    Пользователь несёт ответственность за своё поведение, материалы и информацию,
    которые он размещает на Сервисе.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.10.
    Размещая любую информацию и материалы на Сервисе, Пользователь подтверждает и
    гарантирует, что имеет на это все права.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.11.
    Недопустима публикация фотографий, паспортных данных, телефона, электронной почты,
    адреса и любой личной информации другого пользователя или любого физического лица
    без его на то согласия.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.12. Все
    материалы, находящиеся на Сервисе доступны для просмотра, копирования и
    скачивания исключительно для некоммерческого (личного) использования.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.13. Любое
    копирование, передача материалов третьим лицам, распространение или
    использование содержимого Сервиса в коммерческих целях требует письменного
    разрешения Администрации сервиса или непосредственно лица, обладающим авторским
    правом на этот материал.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.14.
    Пользователю запрещено создавать производные продукта без письменного
    разрешения владельца Сервиса.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">1.15.
    Пользователь не имеет право пользоваться запрещёнными программами с целью
    получения выгоды.</span></p>
    
    <p class="rules-p2" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%">2. Права и обязанности
    Администрации Сервиса</span></b></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">2.1. Администрация
    оставляет за собой право удалять или блокировать любую информацию и материалы
    Пользователя без оповещения, если они нарушают закон Российской Федерации или
    данное Соглашение.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">2.2. В
    случае нарушения правил Соглашения или действующего законодательства РФ, Администрация
    имеет право заблокировать доступ к Сервису или полностью удалить аккаунт
    Пользователя.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">2.3. Администрация
    вправе любым способом информировать Пользователя о нововведениях на Сайте и в
    Приложении, а также редактировать, удалять или изменять содержимое Сервиса по
    своему усмотрению.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">2.4. Администрация
    не несёт ответственность за некачественные услуги связи мобильных операторов,
    компьютерных провайдеров, за сбои на серверах, ошибки в обработке и медленную
    передачу данных, а также технические сбои в работе Сервиса.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">2.5. В
    случае перехода или скачивания материалов по ссылкам других пользователей,
    Администрация не несет ответственность за урон и порчу программного
    обеспечения, компьютерной техники и мобильных устройств.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">2.6.
    Администрация не несёт ответственность перед третьими лицами, так <span class="GramE">же</span> как и перед Пользователем, за неумышленный урон или ущерб,
    потерянные данные, вред репутации, достоинству и чести нанесённый посредством
    использования Сервиса.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">2.7. <span style="mso-spacerun:yes">&nbsp;</span>Администрация оставляет за собой право
    собирать и использовать любую информацию о Пользователе, технические данные о
    программном обеспечении, компьютерной техники и внешних устройствах
    Пользователя для предоставления качественных услуг и технической поддержки, а
    также для упрощения процесса обновления программного обеспечения,
    усовершенствования услуг и прочих своих целей.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">2.8.
    Администрация имеет право отказать в пользовании Сервисом любому человеку.</span></p>
    
    <p class="rules-p2" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%">3. Условия
    использования Сервиса</span></b></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">3.1. Пользователем
    Сервиса могут быть только лица старше 18 лет.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">3.2. Сервис
    предоставляет возможность Пользователю безвозмездно пользоваться содержимым Сайта
    и Приложений в личных (некоммерческих) целях.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">3.3. Вся
    ответственность за действия на Сервисе лежит на Пользователе. То есть ­– за все
    размещённые материалы, информацию, за любое взаимодействие с другими физическими
    лицами, за любые последствия, возможные непредвиденные ситуации и конфликты
    несёт ответственность сам Пользователь. </span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">3.4.
    Пользователь имеет право использовать Сервис как анонимно, то есть без
    регистрации, так и зарегистрировавшись на Сервисе. </span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">3.5.
    Регистрация проводится на сайте APOGOVORIM.RU<!--  или в приложениях путём заполнения
    стандартной формы или через социальные сети. Есть возможность авторизоваться через
    социальные сети. -->.</span></p>
    
    <p class="rules-p2" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%">4. Ответственность и
    гарантии сторон</span></b></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">4.1. Администрация
    имеет право к исполнению настоящего Соглашения привлекать третьих лиц.
    Пользователь, соглашаясь с правилами Соглашения, подтверждает, что третьи лица
    имеют такие же <span class="GramE">права</span> как и владельцы Сервиса.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">4.2. Пользователь
    гарантирует, что не будет распространять СПАМ и не причинит своими действиями
    вреда и ущерба другим пользователям, физическим лицам и правообладателям Сервиса.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">4.3. При
    несоблюдении правил настоящего Соглашения, повлёкшие за собой нанесение вреда
    правообладателям Сервиса, физическим лицам или другим пользователям, Пользователь
    гарантирует возмещение ущерба в полном размере.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">4.4. Если
    Пользователь не сообщил в письменном виде Администрации Сервиса о
    несанкционированном использовании его аккаунта на Сервисе, то за все действия,
    производимые от имени Пользователя, несёт ответственность непосредственно сам
    Пользователь.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">4.5. На Пользователе
    лежит ответственность за все действия, производимые им в Интернете, согласно законодательству
    той страны, в которой он находится.</span></p>
    
    <p class="rules-p2" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%">5. Условия
    конфиденциальности</span></b></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">5.1.
    Администрация гарантирует, что не передаст личную информацию Пользователя
    (логин, пароль, номер телефона и другую персональную информацию) без его
    согласия, введённую им при регистрации, третьим лицам.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">5.2.
    Администрация не вносит изменения в профиль Пользователя и не редактирует его,
    без согласия Пользователя.</span></p>
    
    <p class="rules-p2" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%">6. Заключение</span></b><span style="font-size:14.0pt;line-height:115%"></span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">6.1.
    Администрация не обязана отслеживать и блокировать материалы и аккаунты
    пользователей, которые нарушают правила данного Соглашения, но имеет на это
    право.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">6.2. В
    случае возникновения недоразумений и вопросов, которые невозможно разрешить
    сторонам в рамках данного Соглашения, проблема решается в соответствии с
    законами Российской Федерации.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">6.3. Любые
    споры и разногласия между Пользователем и Администрацией урегулируются
    посредством переговоров. Если сторонам не удаётся прийти к консенсусу, вопрос
    решается в суде по месту нахождения правообладателей Сервиса в соответствии с законодательством
    Российской Федерации. </span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">6.4.
    Соглашение вступает в силу с момента подтверждения его Пользователем и/или с
    момента использования Сервиса.</span></p>
    
    <p class="rules-p2"><span style="font-size:14.0pt;line-height:115%">6.5. <span style="mso-spacerun:yes">&nbsp;</span>У Администрации есть право в одностороннем
    порядке изменять настоящее Соглашение. Если Пользователь имеет возражения, он
    может в течение 3-х дней с момента внесения изменений отправить Администрации
    письменное уведомление об этом. Соглашение будет считаться расторгнутым с
    момента получения сообщения и прекращения использования Сервиса.</span></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%"><o:p>&nbsp;</o:p></span></p>
    
    <p class="rules-p" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</span></b></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">Мы уделяем самое пристальное
    внимание вопросам защиты конфиденциальности вашей личной информации и берем на
    себя обязательство сделать Сервис таким продуктом, который будет нравиться
    людям и которому они будут доверять. Настоящий документ (далее –«Политика»)
    описывает процедуры использования информации, позволяющей установить личность
    (далее мы будем называть ее «Персональные данные») и случаи использования такой
    информации, а также иной собираемой нами информации. Со всеми вопросами, ответы
    на которые вы здесь не нашли, просим в любое время обращаться по адресу </span><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:RU" lang="EN-US">apogovorim.s</span><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:&quot;Times New Roman&quot;;
    mso-fareast-language:RU">@</span><span style="font-size:14.0pt;
    line-height:115%;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:
    EN-US;mso-fareast-language:RU" lang="EN-US">gmail</span><span style="font-size:14.0pt;
    line-height:115%;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
    RU">.</span><span style="font-size:14.0pt;line-height:115%;
    mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:
    RU" lang="EN-US">com</span><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU"></span></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">В настоящей Политике в Отношении
    Конфиденциальности мы используем термины «Сервис», «мы», «наш», «нам» для
    обозначения Администрации Сервиса). Термин «Сервис» включает в себя любые веб-сайты
    или приложения, с которыми мы работаем. Термины «Вы», «ваш» означают
    пользователей нашего Сервиса.</span></p>
    
    <p class="rules-p" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman \(Основной текст&quot;;
    mso-fareast-language:RU">КАКУЮ ИНФОРМАЦИЮ МЫ СОБИРАЕМ?</span></b></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">В ходе вашего пользования мы можем
    собирать Персональные Данные и иную вашу информацию, как указано ниже:</span></p>
    
    <p class="rules-p" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman \(Основной текст&quot;;
    mso-fareast-language:RU">ПЕРСОНАЛЬНЫЕ ДАННЫЕ.</span></b></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">Мы собираем ваши Персональные
    данные, когда вы добровольно предоставляете такие данные, например, когда вы
    создаете учетную запись, добавляете информацию в пользовательский профиль или
    обращаетесь к нам с запросами. Факт добровольного предоставления вами нам
    Персональных Данных означает, что вы даете свое согласие на использование нами
    этих Данных в соответствии с настоящей Политикой в Отношении Конфиденциальности
    и соглашаетесь, что эти Данные могут передаваться в офисы и на серверы Сервиса,
    а также вспомогательным сервисам аналитики</span></p>
    
    <p class="rules-p" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman \(Основной текст&quot;;
    mso-fareast-language:RU">ИНФОРМАЦИЯ, НЕ ПОЗВОЛЯЮЩАЯ УСТАНОВИТЬ ЛИЧНОСТЬ, ИЛИ </span></b><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:&quot;Times New Roman&quot;;
    mso-fareast-language:RU"> </span><b style="mso-bidi-font-weight:normal"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:&quot;Times New Roman&quot;;
    mso-bidi-font-family:&quot;Times New Roman \(Основной текст&quot;;mso-fareast-language:
    RU">СВОДНАЯ ИНФОРМАЦИЯ.</span></b></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">Когда вы используете наш Сервис, мы
    также получаем и сохраняем определенную личную информацию, не позволяющую
    установить личность. Такая информация, собираемая пассивным образом с помощью
    различных технологий, не может в настоящее время использоваться для
    идентификации вашей личности.<span style="mso-spacerun:yes">&nbsp; </span>Сервис
    может хранить такую информацию саму по себе, либо эта информация может быть
    включена в базы данных, собственником и оператором которых являются лица,
    аффилированные с Сервисом, его агенты или провайдеры услуг. Мы можем
    использовать такую информацию и объединять ее с прочей информацией, например,
    для отслеживания общего количества обращений к нашему Сервису, доменных имен
    интернет-провайдеров, используемых нашими посетителями, а также способов
    использования нашего Сервиса и работой с ним. Время от времени Сервис на основе
    Персональных Данных и иной информации, предоставленной нам, также проводит
    исследования демографического состава своих клиентов, их интересов и поведения.
    Эти исследования будут составляться и анализироваться на совокупной основе.
    Сервис может предоставлять такую информацию, не позволяющую установить
    личность, и сводные данные своим аффилированным лицам, агентам и деловым
    партнерам, однако такая сводная информация, не позволяющая установить личность,
    не дает возможности идентифицировать вас лично. Сервис может также раскрывать
    сводные статистические данные пользователей для описания Сервиса имеющимся или
    потенциальным деловым партнерам, а также иным третьим лицам для иных целей, не
    противоречащих закону.</span></p>
    
    <p class="rules-p" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman \(Основной текст&quot;;
    mso-fareast-language:RU">КАК МЫ ИСПОЛЬЗУЕМ ВАШУ ИНФОРМАЦИЮ?</span></b></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">Мы используем Персональные Данные,
    которые вы нам предоставляете, в соответствии с настоящей Политикой в Отношении
    Конфиденциальности. Например, мы можем использовать эти Данные следующим
    образом:</span></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">- для обеспечения основной
    функциональности Сервиса (например, для показа ваших запросов пользователям);</span></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">- для отслеживания процесса
    использования вами Сервиса и улучшения алгоритма взаимодействия с
    пользователем;</span></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">- для реагирования на ваши отзывы, комментарии
    и запросы;</span></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">- для переписки с вами по вопросам,
    касающимся Сервиса;</span></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">- для любых иных целей, для которых
    предоставляется информация.</span></p>
    
    <p class="rules-p" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman \(Основной текст&quot;;
    mso-fareast-language:RU">КАКУЮ ИНФОРМАЦИЮ МЫ ПЕРЕДАЕМ ТРЕТЬИМ ЛИЦАМ?</span></b></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">Сервис уделяет самое пристальное
    внимание вопросам сохранения ваших данных и без вашего предварительного
    согласия не будет передавать ваши Персональные Данные кому-либо, кроме того,
    как это указано в настоящей Политике в Отношении Конфиденциальности. Однако
    ниже перечислены обстоятельства, когда мы вправе передать ваши Персональные
    Данные определенным третьим лицам без направления вам предварительного
    уведомления: в случае продажи компании, слияния, реорганизации, прекращения
    деятельности или иного подобного события; провайдерам сервисов, с которыми мы
    сотрудничаем в ходе управления Сервисом, таким, как провайдеры почтового
    сервиса или баз данных; нашим аффилированным лицам или дочерним компаниям для
    целей, не противоречащих настоящей Политике в Отношении Конфиденциальности; для
    принудительного исполнения настоящей Политики в Отношении Конфиденциальности
    или иных условий предоставления Услуги; а также, если такая передача требуется
    по закону или исходя из добросовестного понимания, что такое действие
    необходимо, для исполнения юридической обязанности, защиты прав или имущества Сервиса,
    неприкосновенности личной жизни пользователей сервиса или общественности, или
    для целей защиты от юридических обязательств.</span></p>
    
    <p class="rules-p" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman \(Основной текст&quot;;
    mso-fareast-language:RU">ИСКЛЮЧЕНИЯ</span></b></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">Настоящая Политика в Отношении
    Конфиденциальности не применяется к Персональным Данным, собранным Сервисом иным
    образом, нежели получение Персональных Данных в ходе предоставления Сервиса.
    Настоящая Политика в Отношении Конфиденциальности не применяется к информации,
    предоставление которой не требовалось, но которая была предоставлена вами на
    сервер Сервиса через Сайт или иными средствами. Эта информация включает (не
    ограничиваясь этим) информацию, размещаемую на каких-либо публично доступных
    областях Сервиса, какие-либо идеи в отношении новых продуктов или модификации
    существующих продуктов, а также иную информацию, предоставления которой не
    требовалось со стороны Сервиса. Вся такая информация будет считаться не
    конфиденциальной, и Сервис вправе свободно воспроизводить, использовать,
    разглашать, распространять и разрабатывать ее без ограничения и указания
    источника.</span></p>
    
    <p class="rules-p" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman \(Основной текст&quot;;
    mso-fareast-language:RU">КАКИЕ ШАГИ МЫ ПРЕДПРИНИМАЕМ ДЛЯ ЗАЩИТЫ ВАШИХ ЛИЧНЫХ</span></b><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:&quot;Times New Roman&quot;;
    mso-fareast-language:RU"> </span><b style="mso-bidi-font-weight:normal"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:&quot;Times New Roman&quot;;
    mso-bidi-font-family:&quot;Times New Roman \(Основной текст&quot;;mso-fareast-language:
    RU">ДАННЫХ</span></b></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">Мы предпринимаем разумные шаги для
    защиты Персональных Данных, предоставленных посредством Сервиса, от потери,
    неправомерного использования, несанкционированного доступа, разглашения,
    изменения или уничтожения. Однако ни интернет-соединение, ни электронная почта,
    ни иные электронные средства передачи не являются полностью безопасными и не застрахованы
    от сбоев, поэтому вы должны с особой тщательностью отбирать информацию для
    передачи таким способом.</span></p>
    
    <p class="rules-p" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman \(Основной текст&quot;;
    mso-fareast-language:RU">ИЗМЕНЕНИЯ ПОЛИТИКИ В ОТНОШЕНИИ КОНФИДЕНЦИАЛЬНОСТИ</span></b></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">Время от времени мы можем изменять
    настоящую Политику в Отношении Конфиденциальности. Когда это произойдет, мы
    уведомим вас об этом путем изменения даты «последнего обновления» в Политике, и
    продолжение использования вами Услуги будет толковаться как ваше согласие с
    условиями измененной Политики в Отношении Конфиденциальности.</span></p>
    
    <p class="rules-p" style="text-align:center" align="center"><b style="mso-bidi-font-weight:
    normal"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman \(Основной текст&quot;;
    mso-fareast-language:RU">ВОПРОСЫ</span></b></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">Если вы захотите оставить отзыв или
    у вас возникнут вопросы или комментарии касательно настоящей Политики в
    Отношении Конфиденциальности, пожалуйста, обращайтесь по адресу </span><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:RU" lang="EN-US">apogovorim.ru</span><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:&quot;Times New Roman&quot;;
    mso-fareast-language:RU">@</span><span style="font-size:14.0pt;
    line-height:115%;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:
    EN-US;mso-fareast-language:RU" lang="EN-US">gmail</span><span style="font-size:14.0pt;
    line-height:115%;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
    RU">.</span><span style="font-size:14.0pt;line-height:115%;
    mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:
    RU" lang="EN-US">com</span><span style="font-size:14.0pt;line-height:115%;mso-fareast-font-family:
    &quot;Times New Roman&quot;;mso-fareast-language:RU">. Для того чтобы обеспечить
    достоверность, полноту и актуальность ваших Персональных Данных, пожалуйста,
    обращайтесь к нам по поводу любых изменений, и мы предпримем разумные шаги для
    обновления или исправления ваших Персональных Данных, находящихся в нашем
    распоряжении, которые вы нам предоставили ранее.</span></p>
    
    <p class="rules-p"><span style="font-size:14.0pt;line-height:115%"><o:p>&nbsp;</o:p></span></p>
    
    
</div>