@import "../../common/styles/_color.scss";
@import "../../common/styles/_mixin.scss";
#wrapper-game {
	@include wrapper;
	#game {
		height: 400px;
		width: 300px;
		background-color: $white;
		.maze {
			height: 100%;
		}
	}
}