<div id="wrapper-game" class="dflex j-c ai-c" @click="toggleGameState">
		<div id="game" @click="$event.stopPropagation()">
			<Netwalk v-if="game == 'netwalk'" :fillAnimationDelay="100" :randomizeAnimationDelay="400" :customStyle="customStyle"/>
			<slide-puzzle v-if="game == 'puzzle'" :ratio="7" mode="far" steps="15" src="https://media1.giphy.com/media/VDYXeX7UiO3ZEOTYxT/giphy.gif"/>
			<maze v-if="game == 'maze'"></maze>
		</div>
</div>