@import "../../common/styles/_color.scss";
@import "../../common/styles/_fonts.scss";
@import "../../common/styles/_mixin.scss";
#typingMessage {
	overflow: hidden;
	#loadImage {
		width: 80px;
		cursor: pointer;
		font-size: 3em;
		text-align: center;
		color: $grey;
	}
	#message {
		width: 80%;
		overflow: auto;
		outline: none;
		color: $dark;
		border: 1px solid $grey;
		font-size: .8em;
		font-family: $ubuntu;
		resize: none;
		height: 45px;
		cursor: text;
		word-break: break-all;
		cursor: text;
		&:empty:before {
		    content: ''attr(placeholder)'';
		    color: #9aa2ab;
		}
	}

	#send,#smile {
		font-size: 2.8em;
		text-align: center;
		color: $grey;
		width: 60px;
		cursor: pointer;
	}
}