<div
	class="dflex j-b ai-c pa1"
>
	<label>
                <input 
                	type="file"
                	name="image"
                	accept="image/*"
                	class="dn"
                	@change="sendImage($event)"
                >
				<i 
					id="loadImage"
					class="far fa-image"
				></i>
    </label>        
    <div
    	id="message"
    	contenteditable="true"
    	placeholder="Введите сообщение"
    	class="br1 mr1"
    	@input="setText();messagesAreRead()"
    	@keyup="sendMessageByEnter($event)"
    	@paste="detectPaste($event)"
    	v-once
    	v-html="text"
    	ref="mes"
    >
    </div>
	<i 
		class="fas fa-poo"
		id="smile"
		@click="toggleStatusSmiles"
	></i>
	<i
		class="fas fa-chevron-right"
		id="send"
		@click="sendMessage"
	></i>
	<Smiles
		v-show="statusSmiles"
		:setText="setText"
		ref="smiles"
		:toggleStatusSmiles="toggleStatusSmiles"
	/>
</div>