@import "../../common/styles/_color.scss";
@import "../../common/styles/_fonts.scss";
@import "../../common/styles/_mixin.scss";
#lookingFor {
	color: $dark;
	font-family: $ubuntu;
	background-color: $white;
	display: grid;
	grid-template-rows:1fr max-content;
	img {
		width: 100px;
	}
	button {
		@include button;
		background-color: $dark-blue;
		color: $white;
		width: 140px;
		font-size: .8em;
		height: 35px;
	}
}