<div id="lookingFor" class="dflex ai-c j-c">
	<div id="searchLabel" class="dflex ai-c">
		<img src="/static/assets/search.gif" alt="">
		<span>Ищем собеседника...</span>
	</div>
	<div class="tc ma4">
		<button @click="toggleGameState($event)">Играть</button>
		<Game v-if="gameState"/>
	</div>
</div>