@import "../../styles/_color.scss";
@import "../../styles/_fonts.scss";
input, label {
	display: block;
	width: 100%;
	font-family: $roboto;
}
label {
	font-size: 1em;
}
input, input:focus {
	font-size: .8em;
	border: 1px solid $dark;
    outline: none;
    border-radius: 2px;
}
.error_message {
	font-size: .7em;
	color: $warning;;
}
.message {
	font-size: .7em;
}