<form>
	<div v-for="(el, index) in struct" class="mb3">
		<label class="mb1">{{el.required ? `${el.caption} *` : el.caption}}</label>
		<input 
			:type="el.type || 'text'"
			:placeholder="el.placeholder"
			:value="el.value || ''"
			:class="[
				'pa0',
				{
					error_input: el.error_message != undefined,
				}
			]"
			@change="setValue(index,$event.target.value)"
		/>
		<p class="error_message">{{el.error_message}}</p>
		<p class="message">{{el.message}}</p>	
	</div>
</form>