@import "../../common/styles/_color.scss";
#messages-outher {
	position: fixed;
	bottom: 10px;
	left: 10px;
	.inner-message {
		color: $dark;
		background-color: $light-grey;
		border: 1px solid $dark;
		max-width: 300px;
		.close {
			cursor: pointer;
		}
		.body-message {
			font-size: .85em;
		}		
	}
}