<div id="messages-outher" @mouseleave="deleteFirstItem" @mouseenter="unsetAlertMessageTimeout">
	<div v-for="(el, index) in getAlerts" class="inner-message pa1 br1 mb1" >
		<div class="header-message dflex ai-c j-b mb1">
			<div class="title">{{el.title || 'Оповещение'}}</div>
			<div class="close ml1" @click="deleteAlertMessage(index)">&#10006;</div>
		</div>
		<div class="body-message">
			<p>
				{{el.message || ''}}
			</p>
		</div>
	</div>
</div>