@import "../../common/styles/_mixin.scss";
@import "../../common/styles/_color.scss";
.wrapper-of-captcha {
    @include wrapper;
    color: $dark;
    .recaptcha {
        height: 90%;
        .title {
            font-family: $roboto;
            border: 1px solid $dark;
            background-color: $white;
            padding: 1.5em;
        }
    }
    .close {
        cursor: pointer;
        font-size: 4em;
    }
}