<div class="wrapper-of-captcha">
    <div class="dflex j-end">
        <div 
            class="close"
            @click="toggleRecaptchaSearchView"
        >&#10005;</div>
    </div>
    <div class="recaptcha dflex j-c ai-c">
        <div class="title br1 tc">
            <p>Доброго времени суток.</p>
            <p>Для защиты от спама нужно подтвердить несколько раз, что вы не бот:</p>
           <div id="recaptcha-search" class="dflex j-c"></div>
            <p>{{checkedAmountSearch}}/{{checkedMaxSearch}}</p>
        </div>
    </div>
</div>