@import "../../common/styles/color";
@import "../../common/styles/fonts";
header {
	background-color: $dark-blue;
	#log,#inout {
		a {
			color: $white;
		}
	}
	#log {
		font-family: $ubuntu;
		font-size: 1.5em;
	}
	#inout {
		cursor: pointer;
		font-family: $kanit;
		#toggle-button-nav {
			display: none;
		}
	}
}

@media only screen and (max-device-width: 595px) {
	#inout .out {
		display: none;
	}
	#toggle-button-nav {
		display: block !important;
		color: $white;
		cursor: pointer;
		svg {
			font-size: 1.5em !important;
		}
	}
}