<header class="dflex j-b ai-c">
	<div id="log" class="ml3 dflex ai-c mt1 mb1"><router-link to="/" exact>Apogovorim</router-link></div>
	<div id="inout" class="mr3">
		<a  v-if="!auth" class="in" @click="toggleAuthView">Авторизация</a>
		<a v-if="auth" class="out" href="/logout">Выйти</a>
		<div 
			id="toggle-button-nav"
			@click="toggleNavMobileView"
			v-if="mobileView ? auth : false"
		>
			<i class="fas fa-bars"></i>
		</div>
	</div>
</header>