@import "../../common/styles/_color.scss";
@import "../../common/styles/_fonts.scss";
@import "../../common/styles/_mixin.scss";
.time {
	color: $dark;
	font-family: $roboto;
	font-size: .7em;
	opacity: .3;
}
.chater {
	border-radius: 10px 0px 10px 10px;	
}
.neighbor {
	border-radius: 0px 10px 10px 10px;	
}
.text {
	font-size: .85em;
	background-color: $dark-blue;
	color: $white;
	font-family: $roboto;
	padding: 5px;
	word-break: break-word;
}
.images {
	width: 40%;
	cursor: pointer;
	background-color: $white;
}
.read {
	background-color: $light-blue;
}
#down {
	position: absolute;
	right: 10px;
	bottom: 100px;
	cursor: pointer;
	img {
		width: 50px;
	}
}