<div 
	ref="innerMessages"
	v-viewer.rebuild="{
		filter: filterImages
	}"
	@scroll="setMessageScroll($event)"
>
	<div v-for="message in messages">
		<div :class="[
			'messasge',
			'dflex',
			'ai-end',
			'j-end',
			'mb2',
			{
				frowr: !message.yours,
				read: !message.read,
			}
		]">
			<div :class="[
				'time',
				{
					ml2: !message.yours,
					mr2: message.yours
				}
			]">{{message.time}}</div>
			<img 
				v-if="message.type == 'image'"
				data-filter="true"
				:src="imageShow ? message.body_message : message.yours ? message.body_message : '/static/no_image.svg.png'"
				:class="[
					'text',
					{
						chater:		message.yours,
						neighbor:	!message.yours,
						images:		message.type == 'image'
					},
				]"
				alt="">
			<p 
				v-else-if="message.type == 'text'"
				:class="[
					'text',
					{
						chater: message.yours,
						neighbor: !message.yours
					}
				]"
				v-html="message.body_message">
			</p>
		</div>			
	</div>
	<div id="down" ref="down" v-show="scrollPosition != 'bottom'" @click="toBottom">
		<img src="/static/assets/down.png" alt="">
	</div>
	<Smiles 
		ref="smiles"
		v-show="false"
	/>
</div>