@import '../../common/styles/_color.scss';
@import '../../common/styles/_fonts.scss';
@import "../../common/styles/_mixin.scss";
@import "../../common/styles/_size.scss";
#chat {
	display: grid;
	grid-template-columns: 48% 1fr;
	#outerChatStates {
		position: relative;
		width: 100%;
		height: 100%;
		#chatStates {
			height: 100%;
			display: grid;
			grid-template-rows: #{$heigth-chat-header} calc(100vh - #{$height-of-header} - #{$heigth-chat-header});
			#headerChat {
				background: $light-blue;
				border-bottom: 1px solid $dark-blue;
				span, .online {
					font-family: $oswald;
					color: $dark;
				}
				button {
					@include button;
					font-size: .7em;	
					height: 2.5em;				
					background-color: $dark-blue;
					color: $white;
				}
				button.disabled {
					background-color: $grey;
				}
			}
		}
		#waitingConnect {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			p {
				color: $dark;
				font-family: $roboto;
				border: 1px solid $dark;
				background-color: $white;
				padding: 1.5em;
			}
			background-color: $greyA;
		}
	}
	
}
@media only screen and (max-device-width: 595px) {
	#chat {
		grid-template-columns: 100%;
	}
	aside {
		display: none;
	}
}
@media only screen and (max-device-width: 695px) and (min-device-width: 596px) {
	#chat {
		grid-template-columns: 60% 1fr;
	}
}