<div id="chat">
	<div id="outerChatStates">
		<div id="chatStates">
			<div id="headerChat" ref="headerChat" class="dflex j-b ai-c">
				<span class="ml3">{{activeTab == TAB_DIALOG ? 'Чат'  : 'Комната'}}</span>
				<div class="mr3 dflex">
					<div v-if="stateChat == 0 || stateChat == 3" class="online">{{countUsers}} онлайн</div>
					<button v-if="stateChat == 1" @click="emitReturnToData" class="wa">Остановить поиск</button>
					<button v-if="stateChat == 2" @click="preAddFriendID" class="mr3 wa">Добавить в друзья</button>
					<button v-if="stateChat == 2" @click="setImageShow" :class="['mr3', 'wa', {disabled: !imageShow}]">Фото</button>
					<button v-if="stateChat == 2" @click="emitStopChat" class="wa">Остановить чат</button>
				</div>
			</div>
			<DataChat v-if="stateChat == 0"/>
			<Searching v-else-if="stateChat == 1"/>
			<Chating v-else-if="stateChat == 2 || stateChat == 3"/>
		</div>
		<div id="waitingConnect" class="dflex j-c ai-c" v-show="!connected">
			<p class="br2">Подключаемся...</p>
		</div>
		<SearchCaptcha v-if="recaptchaSearchView"/>					
	</div>
	<Aside/>
</div>