@import "../../common/styles/_color.scss";
@import "../../common/styles/_fonts.scss";
@import "../../common/styles/_mixin.scss";
@import "../../common/styles/_size.scss";
//roomsTab
.roomsTab {
	display: grid;
	grid-template-rows: max-content max-content max-content max-content 1fr;
}
//switcher
.switcher {
	font-family: $roboto;
	background-color: $dark-blue;
	color: $white;
	height: $switcher-height;
	font-size: 1.2em;
	.activeTab {
		color: $dark;
		border-top: 1px solid $dark;
		border-left: 1px solid $dark;
		border-right: 1px solid $dark;
		border-radius: 10px 10px 0px 0px;
		padding: 5px;
		background-color: white;
	}
	.disabledTab {
		background-color: $grey;
	}
	.inactiveTab {
		border-bottom: 1px solid $dark;
	}
	.tab {
		cursor: pointer;
	}
}
//search
.searchTags {
	border: 2px solid $grey;	
}
.startChat {
	background-color: $success;
	color: $white;
	font-size: 1.3em;
	font-weight: bold;
	display: block;
}
.agreement {
	width: 15px;
	height: 15px;
}
.input-content-class {
	font-family: $roboto;
	outline: none;
	border: none;
	text-align: unset;
	font-size: 1em;
}
.tag-area-class {
	border: 1px solid $dark;
	height: 1.8em;
	display: inline-flex;
	padding: 2px;
	align-items: center;
	border-radius: 4px;
	color: $dark;
	margin: 1.2px;
}
.delete-area-class {
	height: 25px;
	width: 25px;
	margin: 2px;
}
.tagError {
	font-family: $roboto;
	font-size: .9em;
	color: $warning;
}
//room button
.newRoom {
	background-color: $success;
	color: $white;	
}
.loadingRooms {
	animation-name: rotate;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}
//createNewRoom
.createNewRoom {
	border: 2px solid $grey;
	overflow: hidden;
	.newDescription {
		border: 1px solid $grey;
		background-color: $white;
		text-align: justify;
	}
	.rules {
		font-size: .8em;
		font-family: $roboto;
		.agreement {
			width: 15px;
			height: 15px;
		}
	}
	.search {
		width: 100px;
	}
}
.showNewRoom {
	animation-name: newroom;
	animation-duration: .5s;
}
//rooms
.rooms {
	
	.room {
		color: $dark;
		font-family: $roboto;
		font-size: .8em;
		border-bottom: 1px solid $grey;
		.tags {
			.tag {
				display: inline-block;
				margin-left: 7px;
				border-bottom: 2px solid $dark;
			}
		}
		.description {
			p {
				width: 80%;
				word-break: break-all;
				overflow: hidden;
			}
		}
	}
}
.rooms-info {
	color: $grey;
	font-family: $roboto;
}
//html tags
button,input {
	@include button;
	height: 35px;
	width: 50%;
	font-size: .8em;
}
button {
	background-color: $light-grey;
}
input[type="text"] {
	font-family: $roboto;
	background-color: $light-grey;
}
span {
	font-family: $roboto;
	color: $dark;
}
span.error_agreement {
	color: $warning !important;
}
hr {
	width: 90%;
	margin-left: 5%;
	border-top: 1px solid $grey;
	margin-top: 40px;
}
#dataChat {
	background-color: $white;
	display: grid;
	grid-template-rows: #{$switcher-height} calc(100vh - (#{$switcher-height} +  #{$height-of-header} + #{$heigth-chat-header}));
}
//parts of layout
#data {
	margin-top: 50px;
	.gender,.age {
		width: 50%;
	}
	.label {
		font-family: $oswald;
		color: $dark;
	}
	#topic button {
		width: 25%;
	}
	.flirt {
		background-color: $flirt;
		color: $white;
	}
	.talk {
		color: $white;
		background-color: $success;
	}
}
#search {
	margin-top: 70px;
	.rules {
		font-size: .8em;
		font-family: $roboto;
		opacity: .8;
		a {
			color: $dark-blue;
			&:hover {
				text-decoration: underline;
			}
		}
		input {
			height: auto;
			width: auto;
		}
	}
	button {
		width: 140px;
	}
}
#online {
	margin-top: 40px;
	font-size: .9em;
	opacity: .8;
}
//classes for all layout
.checked {
	background-color: $dark-blue;
	color: $white;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}
	25% {
		transform: rotate(90deg);
		animation-timing-function: ease-in;
	}
	50% {
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}
	75% {
		transform: rotate(270deg);
	  	animation-timing-function: ease-in;
	}
	to {
		transform: rotate(360deg);	  
	}
  }
@keyframes newroom {
	from {
		height: 0px;
		animation-timing-function: ease-in;
	}
	10% {
		height: 10%;
		animation-timing-function: ease-in;
	}

	30% {
		height: 30%;
		animation-timing-function: ease-in;
	}
	40% {
		height: 60%;
		animation-timing-function: ease-in;
	}
	to {
		height: fit-content;	  
	}
}