<div id="dataChat">
	<div class="dflex switcher" >
		<div 
			v-for="el in tabs" 
			:class="['w-100', 'tc', 'pa1', 'tab', {
				activeTab: activeTab == el.k,
				inactiveTab: activeTab != el.k,
				disabledTab: el.disabled,
			}]"
			@click="!el.disabled ? setActiveTab(el.k) : addAlertMessage({message:'В разработке'})"
		>
			{{el.v}}
		</div>
	</div>
	<div v-show="activeTab == 'dialog'">
		<div id="data" >
			<div id="chater" class="dflex mb4">
				<div class="gender dflex fcol ai-c">
					<div class="label mb1">Вы</div>
					<button 
						:class="{
							mb2:true,
							checked:chaterSex === 'male' && topicOfChat != 'fast_search',
							error_input: error.chater_sex
						}"
						:disabled="topicOfChat == 'fast_search'"
						@click="setChaterSex('male')">М</button>
					<button 
						:class="{
							mb2:true,
							checked:chaterSex === 'female'  && topicOfChat != 'fast_search',
							error_input: error.chater_sex
						}"
						:disabled="topicOfChat == 'fast_search'"
						@click="setChaterSex('female')">Ж</button>
				</div>
				<div class="age dflex fcol ai-c">
					<div class="label mb1">Ваш возраст</div>
					<input :class="{
						error_input: error.chater_age					
					}"
					:disabled="topicOfChat == 'fast_search'"
					type="text" placeholder="18"  v-model="chaterAge">
				</div>
			</div>
			<div id="neighbor" class="dflex" :disabled="topicOfChat == 'fast_search'">
				<div class="gender dflex fcol ai-c">
					<div class="label mb1">Собеседник</div>
					<button 
						:class="{
							mb2:true,
							checked:neighborSex[0] === 'male' && topicOfChat != 'fast_search',
							error_input: error.neighbor_sex					
						}"
						:disabled="topicOfChat == 'fast_search'"
						@click="setNeighborSex(0)">М</button>
					<button 
						:class="{
							mb2:true,
							checked:neighborSex[1] === 'female'  && topicOfChat != 'fast_search',
							error_input: error.neighbor_sex
						}"
						:disabled="topicOfChat == 'fast_search'"
						@click="setNeighborSex(1)">Ж</button>				
				</div>
				<div class="age dflex fcol ai-c">
					<div class="label mb1">Возраст собеседника</div>
					<div class="tc mb2">
						<span>от </span>
						<input :class="{
							error_input: error.neighbor_age_from
						}"
						:disabled="topicOfChat == 'fast_search'"
						type="text" :placeholder="topicOfChat ==  'talk' ? 14 : 18" v-model="neighborAgeFrom">
					</div>
					<div class="tc mb2">
						<span>до </span>
						<input :class="{
							error_input: error.neighbor_age_to
						}"
						:disabled="topicOfChat == 'fast_search'"
						type="text" placeholder="99" v-model="neighborAgeTo">
					</div>
				</div>
			</div>
			<div id="topic" class="dflex j-c mt4">
				<button :class="['mr2', {talk: topicOfChat == 'talk'}]"  @click="setTopicOfChat('talk')">Общение</button>
				<button :class="['mr2', {flirt: topicOfChat == 'flirt'}]" @click="setTopicOfChat('flirt')">Флирт</button>
				<button :class="[{talk: topicOfChat == 'fast_search'}]"  @click="setTopicOfChat('fast_search')">Быстрый поиск</button>
			</div>
		</div>
		<div id="search" class="tc">
			<div class="tc rules"><span :class="{error_agreement: error.agreement}">Я согласен с <router-link to="/rules">правилами</router-link> пользования чата </span> <input type="checkbox" class="agreement" :checked="agreement" @click="toggleAgreement()"></div>
			<button 
				class="mt4 checked g-recaptcha"
				@click="setErrorBeforeSearch();emitSearch()"
				data-action="search"
			>Поиск</button>
		</div>
		<hr>
		<div id="online" class="tc">
			<span><b v-html="countUsers"></b> человек онлайн</span>
		</div>
	</div>
	<div class="roomsTab" v-show="activeTab == 'rooms'">
		<div class="ma1">
			<button 
				class="startChat w-100"
				@click="setErrorBeforeSearch();emitSearch({room: false})"
			>
				Начать чат
			</button>
			<div class="tc rules ma1">
				<span :class="{error_agreement: error.agreement}">Я согласен с <router-link to="/rules">правилами</router-link> пользования чата <input type="checkbox" class="agreement" :checked="agreement" @click="toggleAgreement()"></span> 
			</div>
		</div>
		<div class="searchTags ma1 br1 pa1">
			<VueTagEditor
				:tags="tagsSearch"
				:placeholder="'Введите тег и нажмите enter...'"
				:input-content-class="'input-content-class w-100'"
				:tag-area-class="'tag-area-class'"
				:delete-area-class="'delete-area-class'"
				:maxlength="maxlength"
				:disabled="(tagsSearch.length === lengthTags)"
				@handler-after-input-tag="() => queryRooms()"
				@handler-after-delete-tag="() => queryRooms()"
			/>
		</div>
		<p class="ma2 tagError">{{tagsError}}</p>
		<div>
			<button class="ml2 wa"
				@click="updateSearch"
			>
				<i :class="['fas fa-redo-alt', {loadingRooms: loadingRooms}]"></i>
				Обновить рандом
			</button>
			<button 
				class="ml2 wa newRoom"
				@click="toggleCreateNewRoomShow()"	
			>
				Создать комнату
				<i :class="[
					'fas',
					'fa-angle-' + (createNewRoomShow ? 'down' : 'up')
				]
				"></i>
			</button>
			<NewRoom
				:createNewRoomShow="createNewRoomShow"
				:error="error"
				:tagsRoom="tagsRoom"
				:lengthTags="lengthTags"
				:maxlength="maxlength"
				:newDescription="newDescription"
				:maxlengthDescription="maxlengthDescription"
				:agreement="agreement"
				:toggleAgreement="toggleAgreement"
				:setErrorBeforeSearch="setErrorBeforeSearch"
				:emitSearch="emitSearch"
				:setNewDecsription="setNewDecsription"
				v-show="createNewRoomShow"
			/>
			<!-- <div :class="
				[
					'createNewRoom',
					'ma2',
					'pa2',
					'br1',
					{
						showNewRoom: createNewRoomShow,
					}
				]"
				v-show="createNewRoomShow"
			>
				<div :class="['searchTags', 'w-100', 'mb2', 'br1', {error_input: error.tags_room}]">
					<VueTagEditor
						:tags="tagsRoom"
						:placeholder="'Задайте теги...'"
						:input-content-class="'input-content-class'"
						:tag-area-class="'tag-area-class'"
						:delete-area-class="'delete-area-class'"
						:maxlength="maxlength"
						:disabled="(tagsRoom.length === lengthTags)"
					/>
				</div>
				<input 
					type="text"
					placeholder="Описание"
					v-model="newDescription"
					class="newDescription mb2 w-100"
					:maxlength="maxlengthDescription"
				/>
				<div class="dflex j-b ai-c">
					<div class="dflex j-c ai-c rules">
						<span :class="{error_agreement: error.agreement}">Я согласен с <router-link to="/rules">правилами</router-link> пользования чата </span>
						<input type="checkbox" class="agreement ma2" :checked="agreement" @click="toggleAgreement()">
					</div>
					<button 
						class="ml3 checked g-recaptcha search"
						@click="setErrorBeforeSearch();emitSearch()"
						data-action="search"
					>
						Поиск
					</button>
				</div>
			</div> -->
		</div>
		<Paging
			class="rooms"
			:query="queryRooms"
			:data="rooms"
			:setCount="setCountRooms"
			:count="count"
			:queryParams="tagsSearch"
		>
			<div class="room ma2" v-for="el in rooms">
				<div class="tags">
					<div class="tag" v-for="tag of el.tags">{{tag}}</div>
				</div>
				<div class="description ma2 dflex j-b">
					<p>{{el.description}}</p>
					<button class="wa" @click="enterInRoom(el._id)">Войти</button>
				</div>
			</div>
			<p class="tc rooms-info mt2" v-show="rooms.length === 0 && !loadingRooms">Комнат нет, обновите рандом позже</p>
			<p class="tc rooms-info mt2" v-show="loadingRooms">Загрузка...</p>
		</Paging>			
	</div>		
</div>