@import "../../common/styles/_color.scss";
@import "../../common/styles/_fonts.scss";

.inner-nav {
	margin-top: 2.5em;
	width: auto;
}
a {
	color: $hard-blue;
	font-family: $rubik;
}
.count {
	background-color: $white;
	border: 1px solid $hard-blue;
	font-size: .8em;
}