<nav class="dflex j-c">
	<div v-if="auth" class="inner-nav dflex fcol">
	<!-- <div id="inner-nav" class="dflex fcol"> -->
		<router-link 
			v-for="n in getNav"
			:to="n.to"
			exact
			class="mb2 dflex"			
		>
			<p @click="toggleNavMobileView(false)">{{n.title}}</p>
			<span v-if="n.count" class="count br1 ml1">+{{n.count}}</span>
		</router-link>
	</div>
</nav>