@import "../../common/styles/_mixin.scss";
@import "../../common/styles/_color.scss";
@import "../../common/styles/_fonts.scss";
#wrapper-auth {
	@include wrapper;
	#inner-auth {
		min-height: 300px;
		width: 500px;
		background-color: $white;
		border: 1px solid $dark;
		#nav-auth {
			width: 90%;
			color: $dark;
			p {
				font-size: 1em;
				font-family: $roboto;
				cursor: pointer;
			}
			.active {
				border-bottom: 2px solid $dark;
			}
		}
		#close {
			cursor: pointer;
		}
		#body-auth {
			form {
				width: 50%;
			}
			p {					
				font-size: .8em;
				font-family: $roboto;
				opacity: .8;
				a {
					cursor: pointer;
					color: $dark-blue;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.restoreButton {
				text-decoration: underline;
				cursor: pointer;				
			}
			button {
				@include button;
				background-color: $dark-blue;
				color: $white;
				width: 140px;
				font-size: .8em;
				height: 35px;
			}
			.disabled {
				background-color: $grey;
			}
		}
	}
}