<div id="wrapper-auth" class="dflex j-c ai-c" @click="toggleAuthView">
	<div id="inner-auth" class="br1" @click="$event.stopPropagation()">
		
		<div class="dflex ai-c">
			<div id="nav-auth" class="dflex j-c j-a">
				<p v-show="authState != 'restore'" :class="{active: authState == 'auth'}" @click="setAuthState('auth')">Регистрация</p>
				<p v-show="authState != 'restore'" :class="{active: authState == 'login'}" @click="setAuthState('login')">Личный кабинет</p>
				<p v-show="authState == 'restore'" @click="setAuthState('login')">Назад</p>
				<p v-show="authState == 'restore'" :class="{active: authState == 'restore'}" @click="setAuthState('restore')">Востановление пароля</p>
			</div>
			<div id="close" @click="toggleAuthView">&#10006;</div>
		</div>
		<div id="body-auth">
			<div  v-show="authState == 'auth'" class="ma4">
				<Form :struct="registration"/>
				<p class="mb2">
					Согласен с <router-link to="/rules">правилами</router-link> использования чата <input type="checkbox" v-model="agreement">
				</p>
				<div id="singup"></div>
				<button 
					@click="onRegistration"
					:disabled="!(agreement && checkedEmail && checkedLogin && checkStruct(registration))"
					:class="[{disabled: !(agreement && checkedEmail && checkedLogin && checkStruct(registration) )}]">
						Регистрация
					</button>
			</div>
			<div v-show="authState == 'login'" class="ma4">
				<Form :struct="login"/>
				<p class="mb2 restoreButton" @click="setAuthState('restore')">Забыли пароль?</p>
				<div id="login"></div>
				<button 
					@click="onLogin"
					:disabled="!checkStruct(login)"
					:class="[{disabled: !checkStruct(login)}]">
						Войти
					</button>
			</div>
			<div v-show="authState == 'restore'" class="ma4">
				<Form :struct="restorePassword"/>
				<div id="rp"></div>
				<button @click="onRestorePassword">Изменить пароль</button>
			</div>
		</div>
	</div>
</div>