@import "../../common/styles/_color.scss";
@import "../../common/styles/_fonts.scss";
@import "../../common/styles/_mixin.scss";
@import "../../common/styles/_size.scss";
.createNewRoom {
	border: 2px solid $grey;
	overflow: hidden;
	.newDescription {
		border: 1px solid $grey;
		background-color: $white;
		text-align: justify;
	}
	.rules {
		font-size: .8em;
		font-family: $roboto;
		.agreement {
			width: 15px;
			height: 15px;
		}
	}
	.search {
		width: 100px;
	}
}
.showNewRoom {
	animation-name: newroom;
	animation-duration: .5s;
}
//search
.searchTags {
	border: 2px solid $grey;	
}
.input-content-class {
	width: 97%;
	font-family: $roboto;
	outline: none;
	border: none;
	text-align: unset;
	font-size: 1em;
}
.tag-area-class {
	border: 1px solid $dark;
	height: 1.8em;
	display: inline-flex;
	padding: 2px;
	align-items: center;
	border-radius: 4px;
	color: $dark;
	margin: 1.2px;
}
.delete-area-class {
	height: 25px;
	width: 25px;
	margin: 2px;
}
@keyframes newroom {
	from {
		height: 0px;
		animation-timing-function: ease-in;
	}
	10% {
		height: 10%;
		animation-timing-function: ease-in;
	}

	30% {
		height: 30%;
		animation-timing-function: ease-in;
	}
	40% {
		height: 60%;
		animation-timing-function: ease-in;
	}
	to {
		height: fit-content;	  
	}
}