<div :class="
    [
        'createNewRoom',
        'ma2',
        'pa2',
        'br1',
        {
            showNewRoom: createNewRoomShow,
        }
    ]"
>
    <div :class="['searchTags', 'w-100', 'mb2', 'br1', {error_input: error.tags_room}]">
        <VueTagEditor
            :tags="tagsRoom"
            :placeholder="'Задайте тег и нажмите enter...'"
            :input-content-class="'input-content-class'"
            :tag-area-class="'tag-area-class'"
            :delete-area-class="'delete-area-class'"
            :maxlength="maxlength"
            :disabled="(tagsRoom.length === lengthTags)"
        />
    </div>
    <input 
        type="text"
        placeholder="Описание"
        v-model="VnewDescription"
        class="newDescription mb2 w-100"
        :maxlength="maxlengthDescription"
    />
    <div class="dflex j-b ai-c">
        <div class="dflex j-c ai-c rules">
            <span :class="{error_agreement: error.agreement}">Я согласен с <router-link to="/rules">правилами</router-link> пользования чата </span>
            <input type="checkbox" class="agreement ma2" :checked="agreement" @click="toggleAgreement()">
        </div>
        <button 
            class="ml3 checked g-recaptcha search"
            @click="setErrorBeforeSearch(true);emitSearch({room: true})"
            data-action="search"
        >
            Поиск
        </button>
    </div>
</div>