@import "../../common/styles/_color.scss";
#wrapper_emojis {
	position: absolute;
	z-index: 10;
	overflow: auto;
	padding: 0 5px;
	right: 10px;
	bottom: 80px;
	background-color: $white;
	border: 1px solid $grey;
	width: 250px;
	height: 100px;
	img {
		display: inline-block;
		margin-right: 5px;
		width: auto;
		cursor: pointer;
	}
}