@import "../../common/styles/_color.scss";
@import "../../common/styles/_fonts.scss";
@import "../../common/styles/_mixin.scss";
.user {
		border-bottom: 1px solid $grey;
		$cube: 60px;
		.avatar {
		  position: relative;
		  max-width: $cube;
		  max-height: $cube;
		  overflow: hidden;
		  border-radius: 50%;
		}
		.online {			
		  border: 2px solid $success;
		}
		.avatar img {
			width: 100%;
			height: auto;
		 	border-radius: 0;
		  	border: 0px solid transparent;
		}
		.username, .user-status, .to-conversation, .add-to-freinds {
			@include style-user-text;
		}
		.username {
			font-size: 1em;
		}
		.username:hover, .to-conversation:hover , .add-to-freinds:hover {
  			text-decoration: underline;
  			cursor: pointer;
		}
		.to-conversation, .add-to-freinds {
			font-size: .7em;
		}
}
.user-scroll {
	height: 70vh;
	overflow-x: hidden;
}
.result-of-search {
	@include style-user-text;
}