
	<div class="user-scroll" @scroll="scrollTo($event, 'bottom', scrollToCallback)">
		<div v-for="el in users" class="user dflex mb2 pa2 ai-c">
			<div :class="['avatar', {online: el.online}]">
		        <img :src="el.avatar_img || '/static/user.png'" class="avatar">
			</div>
			<div class="ml1">
				<a class="username">@{{el.username}}</a>
				<p class="user-status mb1">{{el.status}}</p>
				<a v-for="actionTo in actionsTo" class="to-conversation ml2" @click="actionTo.callbackTo(el._id)">{{actionTo.titleTo}}</a>
			</div>
		</div>
		<p class="result-of-search tc" v-if="users.length === 0">{{empty}}</p>
	</div>