@import "../../common/styles/_color.scss";
@import "../../common/styles/_fonts.scss";
@import "../../common/styles/_mixin.scss";
@import "../../common/styles/_size.scss";
#chating {
	display: grid;
	position: relative;
	grid-template-rows: calc(100vh - 65px - #{$height-of-header} - #{$heigth-chat-header}) 65px;
	background-color: $white;
	#outterMessages {
		display: grid;
		grid-template-rows: max-content 1fr max-content;
		#innerMessages {
			overflow: auto;
			padding: 0 10px;
		}
		#down {
			position: absolute;
			right: 10px;
			bottom: 100px;
			cursor: pointer;
			img {
				width: 50px;
			}
		}
		.time {
			color: $dark;
			font-family: $roboto;
			font-size: .7em;
			opacity: .3;
		}
		.chater {
			border-radius: 10px 0px 10px 10px;	
		}
		.neighbor {
			border-radius: 0px 10px 10px 10px;	
		}
		.text {
			font-size: .85em;
			background-color: $dark-blue;
			color: $white;
			font-family: $roboto;
			padding: 5px;
			word-break: break-word;
		}
		.images {
			width: 40%;
			cursor: pointer;
			background-color: $white;
		}
		.read {
			background-color: $light-blue;
		}
		.stateChat {
			color: $grey;
			font-family: $ubuntu;
			font-size: .9em;
		}
		#endChat button {
			height: 2em;
		}
		#endChat button:first-child {
			background-color: $success;
		}
		#endChat button:last-child {
			background-color: $dark-blue;
		}
		button {
			@include button;
			font-size: .8em;
			color: $white;
		}
	}
}
