<div id="chating" @mousemove="emitMessagesAreRead">
	<div id="outterMessages">
		<div class="stateChat tc pb2 pt2">Чат начат</div>
			<Messages 
				id="innerMessages"
				ref="innerMessages"
				:getMessages="messagesGetter"
				:imageShow="imageShow"
				:scrollPosition="scrollPosition"
				:toBottom="toBottom"
				:setMessages="setMessages"
				:emitGetMessages="emitGetMessages"
				:waitingMessages="waitingMessages"
				:lengthMessages="lengthMessages"
			>				
			</Messages>
		<div v-show="stateChat == 3">
			<div class="stateChat tc mb2" >Чат окончен</div>
			<div id="endChat" class="dflex j-c">
				<button @click="emitSearch" class="wa" v-if="activeTab == TAB_DIALOG">Новый поиск</button>
				<button @click="toggleCreateNewRoomShow" class="wa" v-if="activeTab == TAB_ROOMS">
					Создать комнату
					<i :class="[
						'fas',
						'fa-angle-' + (createNewRoomShow ? 'down' : 'up')
					]
					"></i>
				</button>
				<button @click="emitReturnToData" class="ml4 wa">Вернуться</button>
			</div>
			<NewRoom
				:createNewRoomShow="createNewRoomShow"
				:error="error"
				:tagsRoom="tagsRoom"
				:lengthTags="lengthTags"
				:maxlength="maxlength"
				:newDescription="newDescription"
				:maxlengthDescription="maxlengthDescription"
				:agreement="agreement"
				:toggleAgreement="toggleAgreement"
				:setErrorBeforeSearch="setErrorBeforeSearch"
				:emitSearch="emitSearch"
				:setNewDecsription="setNewDecsription"
				v-show="createNewRoomShow"
			/>			
		</div>
	</div>
	<Keyboard
		id="typingMessage"
		ref="typingMessage"
		:disabled="stateChat == 3"
		:messagesAreRead="emitMessagesAreRead"
		:imageTo="'chat'"
		:send="sendMessage"
	/>
</div>