@import "./_color.scss";
.dflex {
	display: flex;
}
.dn {
	display: none;
}
.dblock {
	display: block;
}
.j-c {
	justify-content:center;
}
.j-a {
	justify-content:space-around;
}
.j-b {
	justify-content:space-between;
}
.j-start {
	justify-content: flex-start;
}
.j-end {
	justify-content: flex-end;
}
.ai-c {
	align-items: center;
}
.ai-stretch {
	align-items: stretch;
}
.ai-start {
	align-items: flex-start;
}
.ai-end {
	align-items: flex-end;
}
.ac-c {
	align-content: center;
}
.ac-start {
	align-content: flex-start;
}
.ac-end {
	align-content: flex-end;
}
.ac-a {
	align-content: space-around;
}
.ac-b {
	align-content: space-between;
}
.ac-stretch {
	align-content: stretch;
}
.fcol {
	flex-direction: column;
}
.fcol-rev {
	flex-direction: column-reverse;
}
.f-w {
	flex-wrap: wrap;
}
.frowr {
	flex-direction: row-reverse;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
	margin-right: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 100%;
	background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $grey;
}
.w-100 {
	width: 100%;
}
.wa {
	width: auto;
}
