$dark-blue: #4bb0df;
$light-blue: #eef6fa;
$hard-blue: #408fb4;
$dark:	#323e53;
$white: white;
$grey: #ccc;
$greyA: rgba(204, 204, 204, .3);
$light-grey: #f5f5f5;
$warning: #D8000C;
$success: #6ac065;
$flirt: #FF6347;