@import url('https://fonts.googleapis.com/css?family=Kanit|Oswald');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i&display=swap');

$roboto: 'Roboto', sans-serif;
$kanit:	'Kanit', sans-serif;
$ubuntu: "Ubuntu", sans-serif;
$rubik:	'Rubik', sans-serif;
$oswald: 'Oswald', sans-serif;