@import "./_color.scss";
@import "./_fonts.scss";
@mixin button {
	cursor: pointer;
	outline: none;
	border: 1px solid $grey;
	border-radius: 5px;
	text-align: center;
	font-family: $kanit;
}
@mixin wrapper {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100vw;
	height: 100vh;
	background-color: $greyA;
}
@mixin style-user-text {
	color: $dark;
	font-size: .8em;
	font-family: $ubuntu;
	opacity: .8;
}	