.ml1 {
	margin-left: 5px;
}
.ml2 {
	margin-left: 10px;
}
.ml3 {
	margin-left: 15px;
}
.ml4 {
	margin-left: 20px;
}
.mr1 {
	margin-right: 5px;
}
.mr2 {
	margin-right: 10px;
}
.mr3 {
	margin-right: 15px;
}
.mr4 {
	margin-right: 20px;
}
.mt1 {
	margin-top: 5px;
}
.mt2 {
	margin-top: 10px;
}
.mt3 {
	margin-top: 15px;
}
.mt4 {
	margin-top: 20px;
}
.mb1 {
	margin-bottom: 5px;
}
.mb2 {
	margin-bottom: 10px;
}
.mb3 {
	margin-bottom: 15px;
}
.mb4 {
	margin-bottom: 20px;
}
.ma1 {
	margin: 5px;
}
.ma2 {
	margin: 10px;
}
.ma3 {
	margin: 15px;
}
.ma4 {
	margin: 20px;
}
.br1 {
	border-radius: 5px;
}
.br2 {
	border-radius: 10px;
}
.br3 {
	border-radius: 15px;
}
.br4 {
	border-radius: 20px;
}
.pa0 {
	padding: 0px;
}
.pa1 {
	padding: 5px;
}
.pa2 {
	padding: 10px;
}
.pa3 {
	padding: 15px;
}
.pa4 {
	padding: 20px;
}
.pt0 {
	padding-top: 0px;
}
.pt1 {
	padding-top: 5px;	
}
.pt2 {
	padding-top: 10px;	
}
.pt3 {
	padding-top: 15px;
}
.pt4 {
	padding-top: 20px;
}
.pb0 {
	padding-bottom: 0px;
}
.pb1 {
	padding-bottom: 5px;	
}
.pb2 {
	padding-bottom: 10px;	
}
.pb3 {
	padding-bottom: 15px;
}
.pb4 {
	padding-bottom: 20px;
}
$height-of-header: 35px;
$heigth-chat-header: 40px;
$switcher-height: 30px;