@import "../../common/styles/_color.scss";
@import "../../common/styles/_fonts.scss";
@import "../../common/styles/_mixin.scss";
#outter-friends {
	max-width: 700px;
	overflow:hidden;
	height: 80vh; 
	border: 2px solid $grey;
	background-color: $white;
	#header-friends {
		color: $hard-blue;
		font-family: $roboto;
		cursor: pointer;
		.active {
			background-color: $dark-blue;
			color:$white;
		}
	}
	#search-freinds {
		$font-search-size: .8em;
		input {
			height: 1em;
			text-align: left;
			background-color: $white;
			font-size: $font-search-size;
			width: 230px;
			outline: none;
			border: 2px solid $grey;
			max-width: 300px;
		}
		button {
			@include button;
			color: $white;
			background-color: $dark-blue;
			font-size: $font-search-size;			
		}
	}
}