<div>
	<div id="outter-friends" class="br1 mt2 pa2">
		<div id="inner-friends">
			<div id="header-friends" class="dflex ai-c mb1">
				<div 
					:class='[
						"ml2",
						"header-filter",
						"pa1",
						"br1",
						{
							active: headerFilterStatus == "REQUESTED",
						},
					]'
					@click="setFilterStatus('REQUESTED')"
				>
					Все
				</div>
				<!-- <div 
					:class='[
						"ml2",
						"header-filter",
						"pa1",
						"br1",
						{
							active: headerFilterStatus == "online",
						},
					]'
					@click="setFilterStatus('online')"
				>
					Онлайн
				</div> -->
				<div
					:class='[
						"ml2",
						"header-filter",
						"pa1",
						"br1",
						{
							active: headerFilterStatus == "GLOBAL",
						},
					]'
					@click="setFilterStatus('GLOBAL')"
				>
					Расширенный поиск
				</div>
				<div 
					:class='[
						"ml2",
						"header-filter",
						"pa1",
						"br1",
						{
							active: headerFilterStatus == "ADD_FRIEND",
						},
					]'
					@click="setFilterStatus('ADD_FRIEND')"
				>
					Заявки {{count.friend || ''}}
				</div>
			</div>
			<div id="search-freinds" class="mb2">
				<input 
					type="text" 
					placeholder="@login" 
					class="br1" 
					v-model.trim="username"
					:maxlength="maxUsername"
				> 
			</div>
			<div id="friends" v-if="headerFilterStatus == 'REQUESTED'">
				<Users 
					:users="friends"
					:empty="'Здесь будут отображаться ваши друзья'"
					:filter="headerFilterStatus"
					:actionsTo="actionTo('friends')"
					:scrollToCallback="findUsers"
				/>
			</div>
			<div id="friends" v-if="headerFilterStatus == 'ADD_FRIEND'">
				<Users 
					:users="friends"
					:empty="'Здесь будут отображаться заявки в друзья'"
					:filter="headerFilterStatus"
					:actionsTo="actionTo('pending')"
					:scrollToCallback="findUsers"
				/>
			</div>
			<!-- <div id="friends" v-if="headerFilterStatus == 'online'">
				<Users
					:users="friends"
					:empty="'Здесь будут отображаться ваши друзья'"
					:filter="headerFilterStatus"
				/>
			</div> -->
			<div id="friends" v-if="headerFilterStatus == 'GLOBAL'" >
				<Users 
					:users="users"
					:empty="'Список пуст'"
					:scrollToCallback="findUsers"
					:filter="headerFilterStatus"
					:actionsTo="actionTo('users')"
				/>
			</div>
		</div>
	</div>
</div>